@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
h1{
  text-transform: capitalize;
  color: green;
}

body {
  margin: 0 auto;
  background: rgb(198, 193, 173 );
}
/* .circle{
  background: #000;
      height: 30px;
    width: 30px;
} */
.fgdfgdf{
  z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed #000;
  
/*   needs to be dynamic */
    width: 270px;
    height: 270px;
/*   ////////////// */
  
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}
#main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 335px;
  height: 335px;
}

.node {
  position: absolute;
  background: black;
  color: papayawhip;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  transition: transform 0.2s ease 0s;
  width: 35px;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
}

.node span {
  position: absolute;
  left: 100%;
}
.node span.right {
  position: absolute;
  right: 100%;
  left: initial;
}