.btn {
  position: relative;
  display: inline-block;
  background-color: $primary;
  font-size: 1.4rem;
  line-height: 1;
  border: 0;
  color: $white-color;
  font-weight: 600;
  padding: 1.8rem 2rem;
  transition: opacity 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
  min-width: 163px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}