$circle-size: 675px;

.circle {
  margin: 3rem -1.5rem;
  height: 380px;
  @include media(">650px") {
    height: 450px;
  }
  @include media(">=lg") {
    overflow: visible;
    z-index: 1;
    margin: 10rem auto;
    width: $circle-size;
    height: $circle-size;
    position: relative;
  }
  &:before {
    @include media(">=lg") {
      content: '';
      position: absolute;
      background: $secondary;
      border-radius: 50%;
      border: 1px solid $grey-color;
      left: 4rem;
      top: 4rem;
      right: 4rem;
      bottom: 4rem;
    }
  }

  &__list {
    margin-top: 2rem;
    align-items: end;
    @include media(">=lg") {
      margin-top: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    background-position: 50% 27%;
    background-repeat: no-repeat;
    background-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: static;

    @include media(">600px") {
      width: 50%;
    }
    @include media(">800px") {
      background-position: 50% 35%;
    }
    @include media(">=lg") {
      position: absolute;
      background-color: $secondary;
      border: 3px solid $grey-color;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-position: center;
      background-size: 45px;
    }
  }

  &__item.is-right-side .circle__item-text {
    @include media(">=lg") {
      right: calc(100% + 2rem);
      left: initial;
      text-align: right;
    }
  }

  &__item.is-first .circle__item-text {
    @include media(">=lg") {
      left: 50%;
      top: -4rem;
      text-align: center;
      transform: translateX(-50%);
      min-width: 330px;
    }
  }

  &__item.is-center .circle__item-text {
    @include media(">=lg") {
      left: 50%;
      transform: translateX(-50%);
      bottom: -4rem;
      text-align: center;
      padding-top: 6rem;
    }
  }

  &__item-text {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 0 1.5rem;
    display: block;
    font-size: 1.8rem;
    @include media(">=lg") {
      position: absolute;
      left: calc(100% + 20px);
      text-align: left;
      min-width: 130px;
      font-size: 1.6rem;
      line-height: 1;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    @include media(">=xl") {
      min-width: 280px;
    }
    @include media(">=xxl") {
      min-width: 330px;
    }
  }

  &__highlight {
    text-align: center;
    display: block;
    font-size: 18px;
    @include media(">=lg") {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      color: $white-color;
      transform: translate(-50%, -50%);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__image-wr {
    margin: 0;
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    @include media(">=650px") {
      left: 1.5rem;
    }
    @include media(">=800px") {
      left: 5%;
    }
    @include media(">=lg") {
      width: 468px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__image {
    transition: transform 0.2s ease;
  }
}