.hero {
  position: relative;
  margin: 4rem 0;
  @include media(">lg") {
    margin: 6.5rem 0;
  }

  &__heading {
    text-align: center;
  }
  &__subheading {
    display: block;
    text-align: center;
    margin-top: 2rem;
  }
}
